<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<canvas id="matrix"></canvas>

<div id="game-container">

    <div id="map-box">
        <canvas id="mapCanvas"></canvas>
    </div>

    <div id="terminal-box">
        <div id="output"></div>
        <input id="input" placeholder=">type command...">
    </div>

</div>

<script src="/static/js/engine.js"></script>

<script src="/static/js/matrix.js"></script>
<script src="/static/js/map.js"></script>

<script src="/static/js/keywords.js"></script>
<script src="/static/js/game.js"></script>

</body>
</html>
