<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<canvas id="matrix"></canvas>

<div class="login-box">

    <h1>MUD SYSTEM</h1>

    <input id="username" placeholder="username">
    <input id="password" type="password" placeholder="password">

    <div class="btn-row">
        <button onclick="login()">LOGIN</button>
        <button onclick="register()">REGISTER</button>
    </div>

    <p id="msg"></p>

</div>

<script src="/static/js/engine.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/matrix.js"></script>

</body>
</html>